/*.btn-basic {
	background-color: black;
	padding: 15px 20px;
	border-radius: 6px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}*/

.btn-basic {
	background-color: #515A5A;
	color: white;
    padding: 12px 15px 10px 20px;
	display: table;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 30px;
	margin-right: auto;
	margin-left: auto;
	flex-basis: 500px;
	flex-grow: 1;
	font-size: 16px;
    font-family: 'robotolight';

}


.btn-ba {
	background-color: #515A5A;
	color: white;
    padding: 12px 15px 10px 20px;
	display: table;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 30px;
	flex-basis: 500px;
	flex-grow: 1;
	font-size: 16px;
    font-family: 'robotolight';

}


.button {
  padding: 10px;
  width: 150px;
  border-radius: 30px;
  background-color: #4F7C26;
  border-color: #4F7C26;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
  vertical-align: middle;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}